.Recreation {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.ActiveRecreationActivity {
    margin-top: 0.5rem;
    padding: 0.5rem;
    width: 51rem;
    /* height:20rem; */
    display:flex;
    flex-wrap: wrap;
    gap:1rem;
    justify-content: start;
    transition: 30ms;
}