.Store {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.Store-Products {
    margin-top: 1rem;
    width: 750px;
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    justify-content: space-around;
}
