.User-Control {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.User-Table {
  margin-top: 1rem;
  border-radius: 5px;
  background: white;
  width: 800px;
  height: 450px;
}

.User-Search-Bar {
  /* background: #0d1a63; */
  /* background: #09134b; */
  background: #001f54;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 100%;
  /* height: 3.1rem; */
  padding: 1rem;

  display: flex;
  justify-content: space-between;
}

.add-user-form {
  height: 20rem;
  width: 80rem;

  margin: 1rem 0px;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.bottom-buttons {
  display: flex;
  justify-content: flex-end;
}

.mr-2 {
  margin-right: 1.5rem;
}


.w-5rem{
    width: 5rem;
}


