.Login {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.BannerPicture {
    height: 100vh;
    width: 39vw;
    background-image: url(../assets/banner_register_login.jpg);
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.Form {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 80px 150px, rgba(17, 17, 26, 0.1) 0px 80px 150px, rgba(17, 17, 26, 0.1) 0px 80px 150px;
    height: 100vh;
    width: 61vw;
}