.PostCard {
    background: white;
    width: 50rem;
    border-radius: 5px;
    height: 20rem;
    margin-top: 0.75rem;
    margin-bottom: 1rem;
    display: flex;
}

.postUtils {
    width: 5rem;
    height: 100%;
    display:flex;
    flex-direction: column;
    padding-top: 1rem;
}

.postUtilsIcons {
    margin-left: 1.5rem;
}

.postCardBody {
    width: 100%;
    padding: 1rem;
}

.postHeader {
    display: flex;
    gap: 1rem;
    /* background: red; */
}

.postHeader .postHeaderName {
    height: 100%;
    /* background:yellow */
}
