.Product-Card {
    height: 16rem;
    width: 13rem;
    background: white;
    border-radius: 4px;
    margin: 10px;
    color: darkslategray;
    /* padding-bottom:0.3rem; */
}

.product-photo {
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: red; */
}

.product-photo img {
    border-radius:5px;
    height: 6rem;
    width: 10rem;
}

.price {
    display: flex;
    color: goldenrod;
}

.product-descriptoin {
    padding-left: 1.5rem;
}