.ProjectHeaderCardContatiner {
    width: 53rem;
    background: white;
    margin-top: 1rem;
    padding:1rem;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.projectCostContainer {
    width: 53rem;
    background: white;
    border-bottom: 1px solid lightgray;
    padding: 1rem;
}

