.ServiceRequestCard {
    width: 100%;
    background: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 1rem;
    margin-top: 1rem;
}

.ServiceRequestCardHeading {
    width:100%;
}

.ServiceRequestInfo {
    width: 100%;
    padding: 1rem;
}

td {
    text-align: start;
    vertical-align: text-top;
}

tr {
    margin: 0px;
    padding: 0px;
}